/*header*/

.head {
	background-color: #037F99;
}
.bunny {
	font-family: 'Baloo Paaji', cursive;
	margin-left: 55px;
	color: white;
	font-size: 25px;
}
.menu1 {
	text-decoration: none;
	display: inline-block;
}
.deco-none {
	text-decoration: none;
	color: #ECF7FB;
	font-family: 'Prompt', sans-serif;
}
.nav{
	text-align: center;
	position: fixed;
	z-index: 4;
	width: 100%;
}
.menunav{
	display: none;
}
.pink { 
 	color: #f27e6c;
 	font-family: 'Baloo Paaji', cursive;
}

/*section banner conejo */
.fondoceleste {
	background-color: #ECF7FB;
}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
.bannerconejo {
	background-image: url(../img/img-1.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fondo-azul{
	background-color: rgba(3,127,153,0.5);
    height: 250px;
    width: 650px;
}
.soft {
	font-family: 'Baloo Paaji', cursive;
	color: #f27e6c;
	font-size: 70px;
	text-align: center;
}
.lll {
	font-family: 'Prompt', sans-serif;
	color: white;
	text-align: center;
    font-style: italic;
    font-weight: 320;
    text-align: center;
}

/* section2 imagenes chicas */
.section2{
	margin-left: 4%;
}
.fondoazul {
	background-color: #037F99;
	border-top: white 20px solid;
	border-right:white 5px solid;
	border-left:white 7px solid; 
	border-bottom: white 20px solid;
	height: 365px;
	width: 22%;
}
.imgchicas{
	background-color: #fff;
}

.textpink {
	font-family: 'Prompt', sans-serif;
	color: #f27e6c;
	font-size: 14px;
	text-align: center;
}

.parrafochico {
	font-family: 'Prompt', sans-serif;
	text-align: center;
	justify-content: center;
	color: #fff;
	font-size: 13px;
	margin: 6% 15%;
}
/* conejos con video */ 

.container3 {
	background-color: #037F99;
}

.conejo-5 {
	width: 100%;
	background-color: #ECF7FB;
	margin: 3% 6%;
}
.nvideo{
	width: 100%;
	background-color: #ECF7FB;
	margin: 3% 6%;
}
.parrafos2 {
	font-family: 'Prompt', sans-serif;
	font-size: 15px;
	margin:3%;
	padding-bottom: 4%;
}
.encabezado{
	margin-left: 15%;
}

.busqueda {
    background-color: #ECF7FB;
    height: 60px;
    width: 80%;
    border-radius: 5%;
    margin: 10% 13% 10% 12%;
    padding: 2%;
    display: flex;
    align-items: center;
}
.searchterm{
	height: 30px;
    width: 87%;
}
.cuadroredes{
	background-color: #ECF7FB;
	width: 100%;
	margin-left: 10%;
	margin-bottom: 6%;
	padding-bottom: 4%;
}
.rsocial{
    background-color: #fff;
    text-align: center;
    margin: 3% 5%; 
    border-radius: 100%;
    width: 43px;
    height: 43px;
    display: inline-block;
}
.icono{
	color: #037f99;
	padding-top: 18%;
}
.facebook{
	margin-left: 15%;
}

.ultimoconejo{
	width: 100%;
	background-color: #ECF7FB;
	width: 100%;
	margin-left: 10%;
	margin-bottom: 6%;
	padding-bottom: 4%;
}

.dibujoconejos{
    background-image: url(../img/bunny-head.png);
    background-repeat: repeat-x;
    background-size: 120px 68px;
    background-position: center center;
    height: 95px;
}

/*footer*/

footer{
    border-top: 2px solid #F27E6C;
    background-color: #037F99 ;
    padding: 2%;
    text-align: center;
}

.text-footer{
    color: white;
    font-family: 'Prompt', sans-serif;
}
